{% extends "base.html" %}

{% block title %} {{ section.title }} {% endblock title %}

{% block content %}
  <div class="content" >
    <div class="transition-content">
      <div class="gallery">
        {% for asset in section.assets %}
          {% set image = resize_image(path=asset, height=1000, op="fit_height") %}
            <a class="galleryImageContainer" href="{{ get_url(path=asset) }}" target="_blank">
              <img class="galleryImage" src="{{ image.url }}"/>
            </a>
        {% endfor %}
      </div> 
    </div>  
  </div>
{% endblock content %}