{% extends "base.html" %}

{% block title %} {{ page.title }} {% endblock title %}

{% block content %}
  <div class="content">
    <div class="transition-content">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.date %}
        <span class="post-date">{{ page.date | date(format="%d-%m-%Y") }}</span>
      {% endif %}
      <div class="tags-container">
        {% for tag in page.extra.tags  %}
          <div class="tags-item">
            {{ tag }}
          </div>
        {% endfor %}
      </div>
      {{ page.content | safe }}
    </div>
  </div>
{% endblock content %}

